<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangjiat.bjt">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".common.BjtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".module.main.ui.activity.MainActivity" />
        <activity android:name=".module.main.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.main.account.ui.LoginActivity" />
        <activity android:name=".module.main.account.ui.RegisterActivity" />
        <activity android:name=".module.main.ui.activity.AgreementActivity" />
        <activity android:name=".module.main.ui.activity.VerifyPhoneActivity" />
        <activity android:name=".module.main.ui.activity.ModifyPhoneActivity" />
        <activity android:name=".module.main.ui.activity.ContactServiceActivity" />
        <activity android:name=".module.me.feedback.ui.FeedBackActivity" />
        <activity android:name=".module.me.personaldata.ui.PersonalHeadActivity" />
        <activity android:name=".module.main.ui.activity.AboutActivity" />
        <activity android:name=".module.home.notice.ui.AllNoticeActivity" />
        <activity android:name=".module.home.visitor.ui.VisitorActivity" />
        <activity android:name=".module.home.notice.ui.NoticeItemActivity" />
        <activity
            android:name=".module.home.scan.ui.ScanActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.home.scan.ui.MyCodeActivity" />
        <activity android:name=".module.home.scan.ui.OpenDoorCodeActivity" />
        <activity android:name=".module.me.personaldata.ui.PersonalDataActivity" />
        <activity android:name=".module.me.personaldata.ui.EditDataActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bangjiat.bjt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".module.home.company.ui.AddOrSelectCompanyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/edit_AlertDialog_style" />
        <activity android:name=".module.home.company.ui.CompanyInfoActivity" />
        <activity android:name=".module.home.company.ui.AddCompanyActivity" />
        <activity android:name=".module.secretary.door.ui.MainActivity" />
        <activity android:name=".module.secretary.door.ui.HistoryActivity" />
        <activity android:name=".module.secretary.door.ui.DetailActivity" />
        <activity android:name=".module.secretary.door.ui.IntoBuildingActivity" />
        <activity android:name=".module.secretary.door.ui.ApplyingActivity" />
        <activity android:name=".module.secretary.door.ui.FailActivity" />
        <activity android:name=".module.secretary.service.ui.MainActivity" />
        <activity android:name=".module.secretary.service.ui.NewApplyActivity" />
        <activity android:name=".common.FullImageActivity" />
        <activity android:name=".module.secretary.service.ui.HistoryActivity" />
        <activity android:name=".module.secretary.service.ui.DetailActivity" />
        <activity android:name=".module.secretary.service.ui.ApprovalHistoryActivity" />
        <activity android:name=".module.secretary.service.ui.ApprovalDetailActivity" />
        <activity android:name=".module.secretary.door.ui.AddPeopleActivity" />
        <activity android:name=".module.secretary.workers.ui.WorkersManageActivity" />
        <activity android:name=".module.secretary.workers.ui.AddWorkersActivity" />
        <activity android:name=".module.secretary.workers.ui.UpdateWorkerActivity" />
        <activity android:name=".module.secretary.communication.ui.MainActivity" />
        <activity android:name=".module.secretary.communication.ui.OutBoxActivity" />
        <activity android:name=".module.secretary.communication.ui.OutBoxDetailActivity" />
        <activity android:name=".module.secretary.contact.view.ContactListActivity" />
        <activity
            android:name=".module.secretary.contact.view.ContactDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.park.car.ui.MyCarActivity" />
        <activity android:name=".module.park.car.ui.MyCarDetailActivity" />
        <activity android:name=".module.park.car.ui.AddCarActivity" />
        <activity android:name=".module.park.apply.ui.ApplyMainActivity" />
        <activity android:name=".module.park.apply.ui.ApplyHistoryActivity" />
        <activity android:name=".module.park.apply.ui.NewApplyActivity" />
        <activity android:name=".module.park.apply.ui.ChooseParkingActivity" />
        <activity android:name=".module.park.apply.ui.ChooseCarActivity" />
        <activity android:name=".module.park.pay.ui.PayMainActivity" />
        <activity android:name=".module.park.pay.ui.PayHistoryActivity" />
        <activity android:name=".module.park.pay.ui.PayActivity" />
        <activity android:name=".module.park.pay.ui.PayDetailActivity" />
        <activity android:name=".module.park.apply.ui.ApplyDetailActivity" />
        <activity
            android:name=".module.secretary.communication.ui.WriteEmailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".common.PickActivity" />
        <activity android:name=".module.home.work.ui.WorkMainActivity" />
        <activity android:name=".module.home.work.ui.EditCompanyActivity" />
        <activity android:name=".module.home.work.kaoqin.ui.KaoqinMainActivity" />
        <activity android:name=".module.home.work.kaoqin.ui.WorkDayActivity" />
        <activity android:name=".module.home.work.kaoqin.ui.AddWifiActivity" />
        <activity android:name=".module.home.work.kaoqin.ui.LocationActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nXhxZ3t8db2rq7R4ewtg7plGjmf9Y1oT" />

        <activity android:name=".module.home.work.leave.ui.LeaveMainActivity" />
        <activity android:name=".module.home.work.leave.ui.LeaveHistoryActivity" />
        <activity android:name=".module.home.work.leave.ui.LeaveNewApplyActivity" />
        <activity android:name=".module.home.work.worker.ui.WorkerListActivity" />
        <activity android:name=".module.home.work.permission.ui.PermissionMainActivity" />
        <activity android:name=".module.home.work.permission.ui.PermissionTransferActivity" />
        <activity android:name=".module.me.setting.ui.SettingActivity" />
        <activity android:name=".module.me.setting.ui.UpdatePasswordActivity" />
        <activity android:name=".module.me.setting.ui.ForgetPasswordActivity" />
        <activity android:name=".module.me.bill.ui.MyBillActivity" />
        <activity android:name=".module.me.bill.ui.PayBillActivity" />
        <activity android:name=".module.me.bill.ui.PayResultActivity" />
        <activity android:name=".module.secretary.contact.view.AddContactActivity" />
        <activity android:name=".module.secretary.contact.view.ContactInfoActivity"></activity>
        <activity android:name=".module.home.scan.ui.CompanyCodeActivity" />

        <meta-data android:name="DATABASE"
            android:value="bjt.db" />
        <meta-data android:name="VERSION"
            android:value="1" />
        <meta-data android:name="QUERY_LOG"
            android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.bangjiat.bjt" />
    </application>

</manifest>