<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangjiat.bangjiaapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.BjtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".module.main.ui.activity.MainActivity" />
        <activity android:name=".module.main.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.account.ui.LoginActivity" />
        <activity android:name=".module.account.ui.RegisterActivity" />
        <activity android:name=".module.main.ui.activity.AgreementActivity" />
        <activity android:name=".module.main.ui.activity.VerifyPhoneActivity" />
        <activity android:name=".module.main.ui.activity.ModifyPhoneActivity" />
        <activity android:name=".module.main.ui.activity.ContactServiceActivity" />
        <activity android:name=".module.main.ui.activity.FeedBackActivity" />
        <activity android:name=".module.main.ui.activity.PersonalHeadActivity" />
        <activity android:name=".module.main.ui.activity.AboutActivity" />
        <activity android:name=".module.notice.ui.AllNoticeActivity" />
        <activity android:name=".module.visitor.ui.VisitorActivity" />
        <activity android:name=".module.notice.ui.NoticeItemActivity" />
        <activity
            android:name=".module.scan.ui.ScanActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.scan.ui.MyCodeActivity" />
        <activity android:name=".module.scan.ui.OpenDoorCodeActivity"></activity>
    </application>

</manifest>